<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table  class="" id="myTable">
      <thead class="head">
          <tr>

              <th style="width:30px"><strong>Name.</strong></th>
              <th style="width:200px"><strong>Age</strong></th>

              <th style="width:250px"><strong>Class</strong></th>
              <th style="width:150px"><strong>Marks</strong></th>


          </tr>
      </thead>
      <tbody>

        {% for o in object %}
        <tr>

            <td style="width:30px">{{forloop.counter}}</td>
            <td style="width:200px">{{o.name}}</td>
            <td style="width:250px">{{o.age}}</td>
            <td style="width:150px">{{o.clas}}</td>
            <td style="width:150px">{{o.marks}}</td>
            <td><button type="button" name="button" onclick="location.href='{{o.id}}'">View</button></td>

        </tr>

        {% endfor %}





      <tbody>



  </table>




  </body>
</html>
